
.lpage-content-container{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 1.5rem;
    height: 24rem;
    border-radius: 10px;    
    box-shadow: 1px 2px 2px 2px black;
}
.lpage-leftSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 24rem;

}
.lpage-heading{
    text-decoration: none;
    cursor: pointer;
}
.lpage-leftSide div {
    padding: 0rem 1rem;
}
.lpage-rightSide img {
    width: 100%;
    height: 24rem;
    border-radius: 0 10px 10px 0;
}
.small {
    margin-left: .5rem;
}
.lpage-btn-container{
    margin: 0 2rem;
}
.lpage-btn{
    min-width: 8rem;
    height: 2.5rem;
    border: none;
    cursor: pointer;
    background-color: var(--secondary-color);
}

