.login{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-container{
padding: 2rem;
margin-top: 6rem;
display: flex;
flex-direction: column;
gap: 1rem;
width: 12rem;
height: 14rem;
align-items: center;
justify-content: center;
border: 3px solid var(--secondary-color);
}

.login-btn{
    width: 90%;
    border: none;
    padding: .225rem 0;
    
}