.navlist{
    height: 100%;
    position: sticky;
    top:0;
    flex-basis: 150px;
}
.navlist-content-container{
    margin: 3.49rem 2rem 0 2rem;
    width: 100%;
}
.navlist-content-container div{
    margin-bottom: 1rem;
    padding: 0 1.5rem 0 .5rem;
}
.navlist-btn{
    border: none;
    cursor: pointer;
    text-decoration: none;
    border: 1.5px solid var(--secondary-color);
    color: var(--primary-color);
    font-size: small;
    padding: .1rem .5rem;
    
}
.navlist-content-container div i {
    margin-right: .5rem;
}
.navlist-links{
    text-decoration: none;
    color: var(--primary-color);
}