.postcard-container{
    border: 1px solid var(--secondary-color);
    padding: 1rem 1rem 0 1rem;
}
.avatar-content-container{
    display: flex;
    padding: .25rem;
}
.post-content{
    padding: 0 0 0 1rem ;
}
.post-content p {
    margin-top: 0;
    margin-bottom: .25rem;
    font-size: small;
}
.user-action-icons-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: small;
    border-top: 1px solid var(--secondary-color);
    padding: .25rem 0;
}
.user-action-icons-container i{
    cursor: pointer;

}
.comment-count-container{
   text-decoration: none; 
}
.reply-icon {
   color: var(--primary-color);
}
.comment-count{
    color:var(--primary-color);
}
.textContent-container{
    word-break: break-all;
}