/* .reply-modal{
    width: 90%;
    border: 1px solid var(--secondary-color);
    padding: 1rem;
    

}
.textarea-reply{
    width: 100%;

    border: none;
    min-height: 4rem;
    background-color: aquamarine;
}
.reply-btn-container{
    display: flex;
    justify-content: flex-end;
    padding: .5rem;
} */