.signup-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    overflow: hidden;
}
.signup-box{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: .5rem;
   border: 2px solid var(--secondary-color);
   padding: 2rem ;
}

.signup-inputs{
    padding: .5rem 3rem .5rem 1rem;
}

.signup-btn{
    padding: .75rem 5.76rem;
    margin-top: .5rem;
    cursor: pointer;
    border: none
}
.signup-btn:hover{
    color: #fff;
    background-color: var(--primary-color);
}
.btn-link{
    color: blue ;
    cursor: pointer;
    text-decoration: underline;
}