.duck-navbar-container{
  border-bottom: 2px solid var(--secondary-color);
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  padding: 0;
  flex-basis: 45px;
}
.duck-navbar-item{ 
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.duck-navbar-home {
  margin-right: 4rem;
}
.duck-navbar-brand {
  margin-left: 4rem;
}


.edit-box{
  width: 70%;
  margin-top: 10%;
  margin-left: 15%;
}
.edit-box textarea{
  min-height: 6rem;
}
.reply-box{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.common-container{
  display: flex;
  flex-direction: column;
}
.main-container{
  width: 100vw;
  display: flex;
}
.left{
  flex-basis: 250px;
  height: 100vh;
  border-right: 1px solid var(--secondary-color);
}
.middle{
  flex-grow: 1;
}
.right{
  flex-basis: 250px;
  height: 100vh;
  border-left: 1px solid var(--secondary-color);

}
@media (max-width: 520px){
  .navlist{
    display: none;
  }
  .left{
    display: none;
  }
  .right{
    display: none;
  }
}
.edit-page{
  margin: 1rem 3rem;
}
.edit-page div textarea {
  padding: 0;
}

.comment-card{
  padding: .5rem;
  border: 1px solid var(--secondary-color);
  border-top: none;
}
.comment-card img{
  width: 2rem ;
  height: 2rem ;
}
.comment-card-username{
  margin-top: -2rem;
  margin-bottom: 0;
  padding-left: 2.5rem;
  font-size: small;
  font-weight: bold;
}
.comment-card-comment{
  margin-top: 0rem;
  margin-bottom: 0;
  padding-left: 2.5rem;
  font-size: small;
}
.comment-card-bottom{
 display: flex;
 justify-content: space-between;
 padding: .25rem 2rem 0 3rem;
 margin-top: 1rem;
 font-size: small;
 border-top: 1px solid var(--secondary-color);
}
.comment-card-bottom span {
  cursor: pointer;
  margin-top: -.1rem;
  margin-bottom: -.3rem;
}
.post-container{
  position: relative;
}
.edit{
  width: 50vw;
  position: absolute;
  top: 40vh;
  left: 25vw;  
}