.duck-navbar-container{
  max-height: 3.5rem;
  border: 2px solid var(--secondary-color);
}
.duck-navbar-home {
  margin-right: 4rem;
}
.duck-navbar-brand {
  margin-left: 4rem;
}


.edit-box{
  width: 70%;
  margin-top: 10%;
  margin-left: 15%;
}
.edit-box textarea{
  min-height: 6rem;
}
.reply-box{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.common-container{
  display: flex;
}

@media (max-width: 520px){
  .navlist{
    display: none;
  }
  
}